{% load bootstrap4 %} 

{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {% block styles %} 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> 
    <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  {% endblock %}
</head>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-black w3-animate-left " style="z-index:3;width:250px; " id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
     <h4 class="w3-center"><b >ZAWADIANA ! </b></h4>
    <div class="w3-center">
        {% if user.profile.photo %}
         <img src="{{ user.profile.photo.url }}" style="width:45%;" class="w3-circle w3-center">
        {%else%}
        <img src="https://www.yourfirstpatient.com/assets/default-user-avatar-thumbnail-117c4e02d0bee9a424842ebb2a903cf71468999f79ce30bad99c07f100764064.png" style="width:45%;" class="w3-circle w3-center">
        {% endif %}
    </div>

    <p class="w3-text-white w3-center">{{user.username}}</p>
    {% if user.profile.bio %}
            <p>{{ user.profile.bio}}</p>
            {%else%}
            <P>No user bio for {{user.username}}</P>
            {% endif %}
    <hr>


  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-blue"><i class="fa fa-home fa-fw w3-margin-right"></i>Home</a>
    <a href="{%url 'profile'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Profile</a>
    <a href="{%url 'new-project'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Submit Project</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
  </div>

</nav>

<body>
    <h2 class="display-5 text-center font-weight-bold">SUBMIT YOUR SITE </h2>
  <div class="row">
    <!-- Empty div -->
    <div class="col-lg-3"></div>
    <div class="col-lg-6 pt-2 ">
      <form  action="{%url 'new-project'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-warning btn-lg font-weight-bold" value="SUBMIT">
      </form>
    </div>
    <!-- Empty div -->
    <div class="col-lg-3"></div>
  </div>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
  {% endblock %}
</body>

</html>