
{% load staticfiles %}
{% load bootstrap4%}
{% load ratings %}

{% block content %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
  {% block styles %} 
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/basenews.css' %}"> 
    <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
  {% endblock %}
</head>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-black w3-animate-left " style="z-index:3;width:250px; " id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
     <h4 class="w3-center"><b >ZAWADIANA ! </b></h4>
    <div class="w3-center">
        {% if user.profile.photo %}
         <img src="{{ user.profile.photo.url }}" style="width:45%;" class="w3-circle w3-center">
        {%else%}
        <img src="https://www.yourfirstpatient.com/assets/default-user-avatar-thumbnail-117c4e02d0bee9a424842ebb2a903cf71468999f79ce30bad99c07f100764064.png" style="width:45%;" class="w3-circle w3-center">
        {% endif %}
    </div>

    <p class="w3-text-white w3-center">{{user.username}}</p>
    {% if user.profile.bio %}
            <p>{{ user.profile.bio}}</p>
            {%else%}
            <P>No user bio for {{user.username}}</P>
            {% endif %}
    <hr>


  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-blue"><i class="fa fa-home fa-fw w3-margin-right"></i>Home</a>
    <a href="{%url 'profile'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Profile</a>
    <a href="{%url 'new-project'%}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Submit Project</a>
    <a href="/logout" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-sign-out fa-fw w3-margin-right"></i>Logout</a>
  </div>

</nav>

<div class="container">
<div class="col-lg-5"></div>
  <div class="row mt-4"></div>
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
      <!-- Card -->
      <div class="card card-cascade wider reverse">
        <!-- Card image -->
        <div class="view view-cascade overlay">
          {% if project.project_image %}
          <img class="card-img-top" src="{{project.project_image.url}}" alt="{{ project.project_name }}"
           style="max-height: 400px;">
          {% else %}
          <img class="card-img-top" src="../../static/images/default.png"
            alt="{{ project.project_name }}">
          {% endif %}
          <a href="#!">
            <div class="mask rgba-white-slight">
              <div class="d-flex justify-content-end">
                <a href="{{project.link}}" target="_blank" title="Visit site"> <button type="button"
                    class="btn btn-light px-3"><i class="fas fa-directions" aria-hidden="true"></i></button>
                </a></div>
            </div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

          <!-- Title -->
          <h2 class="font-weight-bold"><a>{{ project.project_title }}</a></h2>
          <!-- Data -->
          <p style="opacity: 0.8;" class="">{{ project.project_description }}<p>

          <!-- Social shares -->
          <div>
            <a href="{{project.link}}" target="_blank" title="Visit site">
              <button type="button" class="btn btn-warning btn-rounded font-weight-bold px-3">Visit site</button></a>
          </div>
          <div class="mt-2 pt-2">
            <h4>Vote</h4>
          </div>
           <div class="">
            <h5 class="w3-center w3-padding">How does {{ project.project_title }} rate?</h5>
            <div class="w3-col w3-center l4 w3-padding ">
            <p><em>Design</em></p>
            <span>{% ratings project icon_height=20 icon_width=20%}</span>
            </div>
            <div class="w3-col w3-center l4 w3-padding">
            <p><em>Usability</em></p>
            <span>{% ratings project icon_height=20 icon_width=20%}</span>
            </div>
            <div class="w3-col w3-center w3-padding l4 ">
            <p><em>Content</em></p>
            <span>{% ratings project icon_height=20 icon_width=20%}</span>
            </div>
            <br> <br> <br>

        </div>
          <div class="row">
            <div class="col-lg-6 dark-text"> <small> <span class="mr-1"> From {{project.country.name}}</span> </small> </div>

            <div class="col-lg-6 dark-text"> <small> Date Posted: {{project.pub_date|date:"d /m/Y"}} </small> </div>
          </div>
          <!-- {{ratings_start_userrating}} -->
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
